
#u2659_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2662.a {
  position:absolute;
  left:324px;
  top:537px;
  width:110px;
  height:110px;
}
#u2663.a {
}
#u2662_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2665.a {
  position:absolute;
  left:729px;
  top:50px;
  width:110px;
  height:110px;
}
#u2666.a {
}
#u2665_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2668.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u2669.a {
}
#u2668_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2671.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u2672.a {
}
#u2671_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2674.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u2675.a {
}
#u2674_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2677.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u2678.a {
}
#u2677_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2680.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u2681.a {
}
#u2680_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2683.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u2684.a {
}
#u2683_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2686.a {
  position:absolute;
  left:982px;
  top:53px;
  width:40px;
  height:40px;
}
#u2687.a {
}
#u2686_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2689.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u2690.a {
}
#u2689_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2692.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u2693.a {
}
#u2692_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2695.a {
  position:absolute;
  left:203px;
  top:639px;
  width:40px;
  height:40px;
}
#u2696.a {
}
#u2695_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2698.a {
  position:absolute;
  left:1028px;
  top:648px;
  width:40px;
  height:40px;
}
#u2699.a {
}
#u2698_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2701.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u2702.a {
}
#u2701_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2704.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u2705.a {
}
#u2704_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2707.a {
  position:absolute;
  left:1104px;
  top:450px;
  width:40px;
  height:40px;
}
#u2708.a {
}
#u2707_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2710.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u2711.a {
}
#u2710_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2713.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u2714.a {
}
#u2713_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2716.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u2717.a {
}
#u2716_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2719.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u2720.a {
}
#u2719_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2722.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u2723.a {
}
#u2722_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2725.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u2726.a {
}
#u2725_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2728.a {
  position:absolute;
  left:212px;
  top:709px;
  width:20px;
  height:20px;
}
#u2729.a {
}
#u2728_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2731.a {
  position:absolute;
  left:120px;
  top:516px;
  width:20px;
  height:20px;
}
#u2732.a {
}
#u2731_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2734.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u2735.a {
}
#u2734_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2737.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u2738.a {
}
#u2737_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2740.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u2741.a {
}
#u2740_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2743.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u2744.a {
}
#u2743_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2746.a {
  position:absolute;
  left:705px;
  top:170px;
}
#u2747.a {
}
#u2749.a {
}
#u2751.a {
}
#u2753.a {
}
#u2755.a {
  position:absolute;
  left:964px;
  top:60px;
}
#u2756.a {
}
#u2758.a {
}
#u2760.a {
}
#u2762.a {
}
#u2764.a {
  position:absolute;
  left:250px;
  top:389px;
}
#u2765.a {
}
#u2767.a {
}
#u2769.a {
}
#u2771.a {
}
#u2773.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u2774.a {
}
#u2776.a {
}
#u2778.a {
}
#u2780.a {
}
#u2782.a {
  position:absolute;
  left:192px;
  top:466px;
  width:70px;
  height:70px;
}
#u2783.a {
}
#u2782_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2785.a {
}
#u2787.a {
}
#u2789.a {
}
#u2791.a {
}
#u2793.a {
}
#u2795.a {
}
#u2797.a {
  position:absolute;
  left:880px;
  top:700px;
  width:70px;
  height:70px;
}
#u2798.a {
}
#u2797_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2800.a {
  position:absolute;
  left:315px;
  top:680px;
  width:70px;
  height:70px;
}
#u2801.a {
}
#u2800_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2803.a {
  position:absolute;
  left:560px;
  top:670px;
  width:110px;
  height:110px;
}
#u2804.a {
}
#u2803_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2806.a {
  position:absolute;
  left:0px;
  top:287px;
  width:1280px;
  height:513px;
}
#u2807.a {
}
#u2809.a {
}
#u2811.a {
}
#u2813.a {
  position:absolute;
  left:0px;
  top:500px;
}
#u2814.a {
}
#u2816.a {
}
#u2818.a {
}
#u2820.a {
}
#u2822.a {
}
#u2824.a {
}
#u2826.a {
}
#u2828.a {
}
#u2830.a {
}
#u2832.a {
}
#u2834.a {
}
#u2806_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2806_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2836.a {
  position:absolute;
  left:845px;
  top:165px;
  width:110px;
  height:110px;
}
#u2837.a {
}
#u2836_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2839.a {
  position:absolute;
  left:1014px;
  top:478px;
  width:70px;
  height:70px;
}
#u2840.a {
}
#u2839_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2842.a {
  position:absolute;
  left:990px;
  top:55px;
  width:40px;
  height:40px;
}
#u2843.a {
}
#u2842_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2845.a {
  position:absolute;
  left:1179px;
  top:422px;
  width:10px;
  height:10px;
}
#u2846.a {
}
#u2845_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2848.a {
  position:absolute;
  left:385px;
  top:322px;
}
#u2849.a {
}
#u2851.a {
  position:absolute;
  left:900px;
  top:367px;
  width:110px;
  height:110px;
}
#u2852.a {
}
#u2851_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2854.a {
  position:absolute;
  left:1029px;
  top:342px;
  width:70px;
  height:70px;
}
#u2855.a {
}
#u2854_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2857.a {
  position:absolute;
  left:1006px;
  top:214px;
  width:70px;
  height:70px;
}
#u2858.a {
}
#u2857_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2860.a {
  position:absolute;
  left:940px;
  top:95px;
  width:70px;
  height:70px;
}
#u2861.a {
}
#u2860_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2863.a {
  position:absolute;
  left:870px;
  top:25px;
  width:70px;
  height:70px;
}
#u2864.a {
}
#u2863_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2866.a {
  position:absolute;
  left:1086px;
  top:229px;
  width:40px;
  height:40px;
}
#u2867.a {
}
#u2866_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2869.a {
  position:absolute;
  left:1100px;
  top:490px;
  width:40px;
  height:40px;
}
#u2870.a {
}
#u2869_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2872.a {
  position:absolute;
  left:1108px;
  top:163px;
  width:20px;
  height:20px;
}
#u2873.a {
}
#u2872_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2875.a {
  position:absolute;
  left:1120px;
  top:199px;
  width:20px;
  height:20px;
}
#u2876.a {
}
#u2875_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2878.a {
  position:absolute;
  left:1159px;
  top:240px;
  width:10px;
  height:10px;
}
#u2879.a {
}
#u2878_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2881.a {
  position:absolute;
  left:1166px;
  top:270px;
  width:10px;
  height:10px;
}
#u2882.a {
}
#u2881_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2884.a {
  position:absolute;
  left:1176px;
  top:330px;
  width:10px;
  height:10px;
}
#u2885.a {
}
#u2884_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2887.a {
  position:absolute;
  left:1080px;
  top:72px;
  width:10px;
  height:10px;
}
#u2888.a {
}
#u2887_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2890.a {
  position:absolute;
  left:1113px;
  top:128px;
  width:10px;
  height:10px;
}
#u2891.a {
}
#u2890_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2893.a {
  position:absolute;
  left:1107px;
  top:384px;
  width:40px;
  height:40px;
}
#u2894.a {
}
#u2893_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2896.a {
  position:absolute;
  left:1146px;
  top:304px;
  width:20px;
  height:20px;
}
#u2897.a {
}
#u2896_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2899.a {
  position:absolute;
  left:741px;
  top:417px;
}
#u2900.a {
}
#u2902.a {
  position:absolute;
  left:1157px;
  top:367px;
  width:20px;
  height:20px;
}
#u2903.a {
}
#u2902_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2905.a {
  position:absolute;
  left:620px;
  top:152px;
}
#u2906.a {
}
#u2908.a {
  position:absolute;
  left:462px;
  top:175px;
}
#u2909.a {
}
#u2911.a {
  position:absolute;
  left:815px;
  top:567px;
  width:110px;
  height:110px;
}
#u2912.a {
}
#u2911_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2914.a {
  position:absolute;
  left:650px;
  top:25px;
  width:110px;
  height:110px;
}
#u2915.a {
}
#u2914_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2917.a {
  position:absolute;
  left:415px;
  top:60px;
  width:110px;
  height:110px;
}
#u2918.a {
}
#u2917_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2920.a {
  position:absolute;
  left:280px;
  top:240px;
  width:110px;
  height:110px;
}
#u2921.a {
}
#u2920_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2923.a {
  position:absolute;
  left:265px;
  top:437px;
  width:110px;
  height:110px;
}
#u2924.a {
}
#u2923_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2926.a {
  position:absolute;
  left:400px;
  top:614px;
  width:110px;
  height:110px;
}
#u2927.a {
}
#u2926_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2929.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u2930.a {
}
#u2929_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2932.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u2933.a {
}
#u2932_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2935.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u2936.a {
}
#u2935_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2938.a {
  position:absolute;
  left:180px;
  top:430px;
  width:70px;
  height:70px;
}
#u2939.a {
}
#u2938_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2941.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u2942.a {
}
#u2941_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2944.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u2945.a {
}
#u2944_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2947.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u2948.a {
}
#u2947_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2950.a {
  position:absolute;
  left:215px;
  top:110px;
  width:40px;
  height:40px;
}
#u2951.a {
}
#u2950_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2953.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u2954.a {
}
#u2953_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2956.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u2957.a {
}
#u2956_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2959.a {
  position:absolute;
  left:185px;
  top:600px;
  width:40px;
  height:40px;
}
#u2960.a {
}
#u2959_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2962.a {
  position:absolute;
  left:226px;
  top:670px;
  width:40px;
  height:40px;
}
#u2963.a {
}
#u2962_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2965.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u2966.a {
}
#u2965_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2968.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u2969.a {
}
#u2968_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2971.a {
  position:absolute;
  left:1018px;
  top:661px;
  width:40px;
  height:40px;
}
#u2972.a {
}
#u2971_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2974.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u2975.a {
}
#u2974_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2977.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u2978.a {
}
#u2977_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2980.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u2981.a {
}
#u2980_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2983.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u2984.a {
}
#u2983_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2986.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u2987.a {
}
#u2986_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2989.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u2990.a {
}
#u2989_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2992.a {
  position:absolute;
  left:180px;
  top:662px;
  width:20px;
  height:20px;
}
#u2993.a {
}
#u2992_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2995.a {
  position:absolute;
  left:139px;
  top:578px;
  width:20px;
  height:20px;
}
#u2996.a {
}
#u2995_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2998.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u2999.a {
}
#u2998_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3001.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u3002.a {
}
#u3001_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3004.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u3005.a {
}
#u3004_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3007.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u3008.a {
}
#u3007_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3010.a {
  position:absolute;
  left:444px;
  top:478px;
}
#u3011.a {
}
#u3013.a {
  position:absolute;
  left:605px;
  top:516px;
}
#u3014.a {
}
#u3016.a {
  position:absolute;
  left:744px;
  top:257px;
}
#u3017.a {
}
#u3019.a {
  position:absolute;
  left:1069px;
  top:473px;
}
#u3020.a {
}
#u3022.a {
}
#u3024.a {
}
#u3026.a {
}
#u3028.a {
  position:absolute;
  left:255px;
  top:302px;
}
#u3029.a {
}
#u3031.a {
}
#u3033.a {
}
#u3035.a {
}
#u3037.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u3038.a {
}
#u3040.a {
}
#u3042.a {
}
#u3044.a {
}
#u3046.a {
  position:absolute;
  left:737px;
  top:181px;
}
#u3047.a {
}
#u3049.a {
}
#u3051.a {
}
#u3053.a {
}
#u3055.a {
}
#u3057.a {
}
#u3059.a {
}
#u3061.a {
}
#u3063.a {
}
#u3065.a {
}
#u3067.a {
  position:absolute;
  left:880px;
  top:700px;
  width:70px;
  height:70px;
}
#u3068.a {
}
#u3067_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3070.a {
  position:absolute;
  left:315px;
  top:680px;
  width:70px;
  height:70px;
}
#u3071.a {
}
#u3070_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3073.a {
  position:absolute;
  left:720px;
  top:637px;
  width:110px;
  height:110px;
}
#u3074.a {
}
#u3073_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3076.a {
  position:absolute;
  left:0px;
  top:287px;
  width:1280px;
  height:513px;
}
#u3077.a {
}
#u3079.a {
}
#u3081.a {
}
#u3083.a {
  position:absolute;
  left:0px;
  top:500px;
}
#u3084.a {
}
#u3086.a {
}
#u3088.a {
}
#u3090.a {
}
#u3092.a {
}
#u3094.a {
}
#u3096.a {
}
#u3098.a {
}
#u3100.a {
}
#u3102.a {
}
#u3104.a {
}
#u3076_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3076_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3106.a {
  position:absolute;
  left:845px;
  top:165px;
  width:110px;
  height:110px;
}
#u3107.a {
}
#u3106_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3109.a {
  position:absolute;
  left:908px;
  top:66px;
  width:70px;
  height:70px;
}
#u3110.a {
}
#u3109_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3112.a {
  position:absolute;
  left:200px;
  top:130px;
  width:40px;
  height:40px;
}
#u3113.a {
}
#u3112_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3115.a {
  position:absolute;
  left:1179px;
  top:422px;
  width:10px;
  height:10px;
}
#u3116.a {
}
#u3115_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3118.a {
  position:absolute;
  left:390px;
  top:410px;
}
#u3119.a {
}
#u3121.a {
  position:absolute;
  left:1007px;
  top:505px;
  width:70px;
  height:70px;
}
#u3122.a {
}
#u3121_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3124.a {
  position:absolute;
  left:988px;
  top:175px;
  width:70px;
  height:70px;
}
#u3125.a {
}
#u3124_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3127.a {
  position:absolute;
  left:1027px;
  top:392px;
  width:70px;
  height:70px;
}
#u3128.a {
}
#u3127_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3130.a {
  position:absolute;
  left:1099px;
  top:280px;
  width:40px;
  height:40px;
}
#u3131.a {
}
#u3130_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3133.a {
  position:absolute;
  left:242px;
  top:689px;
  width:40px;
  height:40px;
}
#u3134.a {
}
#u3133_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3136.a {
  position:absolute;
  left:1108px;
  top:163px;
  width:20px;
  height:20px;
}
#u3137.a {
}
#u3136_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3139.a {
  position:absolute;
  left:1120px;
  top:199px;
  width:20px;
  height:20px;
}
#u3140.a {
}
#u3139_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3142.a {
  position:absolute;
  left:1159px;
  top:240px;
  width:10px;
  height:10px;
}
#u3143.a {
}
#u3142_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3145.a {
  position:absolute;
  left:1166px;
  top:270px;
  width:10px;
  height:10px;
}
#u3146.a {
}
#u3145_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3148.a {
  position:absolute;
  left:1176px;
  top:330px;
  width:10px;
  height:10px;
}
#u3149.a {
}
#u3148_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3151.a {
  position:absolute;
  left:1080px;
  top:72px;
  width:10px;
  height:10px;
}
#u3152.a {
}
#u3151_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3154.a {
  position:absolute;
  left:1113px;
  top:128px;
  width:10px;
  height:10px;
}
#u3155.a {
}
#u3154_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3157.a {
  position:absolute;
  left:1107px;
  top:384px;
  width:40px;
  height:40px;
}
#u3158.a {
}
#u3157_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3160.a {
  position:absolute;
  left:1146px;
  top:304px;
  width:20px;
  height:20px;
}
#u3161.a {
}
#u3160_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3163.a {
  position:absolute;
  left:1157px;
  top:367px;
  width:20px;
  height:20px;
}
#u3164.a {
}
#u3163_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3166.a {
  position:absolute;
  left:750px;
  top:261px;
}
#u3167.a {
}
#u3169.a {
  position:absolute;
  left:589px;
  top:141px;
}
#u3170.a {
}
#u3172.a {
  position:absolute;
  left:887px;
  top:492px;
  width:110px;
  height:110px;
}
#u3173.a {
}
#u3172_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3175.a {
  position:absolute;
  left:263px;
  top:349px;
  width:110px;
  height:110px;
}
#u3176.a {
}
#u3175_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3178.a {
  position:absolute;
  left:904px;
  top:330px;
  width:110px;
  height:110px;
}
#u3179.a {
}
#u3178_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3181.a {
  position:absolute;
  left:479px;
  top:33px;
  width:110px;
  height:110px;
}
#u3182.a {
}
#u3181_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3184.a {
  position:absolute;
  left:360px;
  top:572px;
  width:110px;
  height:110px;
}
#u3185.a {
}
#u3184_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3187.a {
  position:absolute;
  left:729px;
  top:50px;
  width:110px;
  height:110px;
}
#u3188.a {
}
#u3187_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3190.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u3191.a {
}
#u3190_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3193.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u3194.a {
}
#u3193_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3196.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u3197.a {
}
#u3196_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3199.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u3200.a {
}
#u3199_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3202.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u3203.a {
}
#u3202_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3205.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u3206.a {
}
#u3205_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3208.a {
  position:absolute;
  left:982px;
  top:53px;
  width:40px;
  height:40px;
}
#u3209.a {
}
#u3208_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3211.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u3212.a {
}
#u3211_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3214.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u3215.a {
}
#u3214_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3217.a {
  position:absolute;
  left:203px;
  top:639px;
  width:40px;
  height:40px;
}
#u3218.a {
}
#u3217_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3220.a {
  position:absolute;
  left:1028px;
  top:648px;
  width:40px;
  height:40px;
}
#u3221.a {
}
#u3220_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3223.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u3224.a {
}
#u3223_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3226.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u3227.a {
}
#u3226_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3229.a {
  position:absolute;
  left:1104px;
  top:450px;
  width:40px;
  height:40px;
}
#u3230.a {
}
#u3229_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3232.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u3233.a {
}
#u3232_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3235.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u3236.a {
}
#u3235_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3238.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u3239.a {
}
#u3238_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3241.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u3242.a {
}
#u3241_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3244.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u3245.a {
}
#u3244_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3247.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u3248.a {
}
#u3247_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3250.a {
  position:absolute;
  left:212px;
  top:709px;
  width:20px;
  height:20px;
}
#u3251.a {
}
#u3250_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3253.a {
  position:absolute;
  left:120px;
  top:516px;
  width:20px;
  height:20px;
}
#u3254.a {
}
#u3253_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3256.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u3257.a {
}
#u3256_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3259.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u3260.a {
}
#u3259_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3262.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u3263.a {
}
#u3262_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3265.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u3266.a {
}
#u3265_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3268.a {
  position:absolute;
  left:705px;
  top:170px;
}
#u3269.a {
}
#u3271.a {
}
#u3273.a {
}
#u3275.a {
}
#u3277.a {
  position:absolute;
  left:964px;
  top:60px;
}
#u3278.a {
}
#u3280.a {
}
#u3282.a {
}
#u3284.a {
}
#u3286.a {
  position:absolute;
  left:256px;
  top:391px;
}
#u3287.a {
}
#u3289.a {
}
#u3291.a {
}
#u3293.a {
}
#u3295.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u3296.a {
}
#u3298.a {
}
#u3300.a {
}
#u3302.a {
}
#u3304.a {
  position:absolute;
  left:192px;
  top:466px;
  width:70px;
  height:70px;
}
#u3305.a {
}
#u3304_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3307.a {
  position:absolute;
  left:720px;
  top:440px;
}
#u3308.a {
}
#u3310.a {
  position:absolute;
  left:540px;
  top:514px;
}
#u3311.a {
}
#u3313.a {
  position:absolute;
  left:413px;
  top:223px;
}
#u3314.a {
}
#u3316.a {
  position:absolute;
  left:289px;
  top:204px;
  width:110px;
  height:110px;
}
#u3317.a {
}
#u3316_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3319.a {
}
#u3321.a {
}
#u3323.a {
}
#u3325.a {
}
#u3327.a {
}
#u3329.a {
}
#u3331.a {
  position:absolute;
  left:880px;
  top:700px;
  width:70px;
  height:70px;
}
#u3332.a {
}
#u3331_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3334.a {
  position:absolute;
  left:315px;
  top:680px;
  width:70px;
  height:70px;
}
#u3335.a {
}
#u3334_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3337.a {
  position:absolute;
  left:560px;
  top:670px;
  width:110px;
  height:110px;
}
#u3338.a {
}
#u3337_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3340.a {
  position:absolute;
  left:0px;
  top:287px;
  width:1280px;
  height:513px;
}
#u3341.a {
}
#u3343.a {
}
#u3345.a {
}
#u3347.a {
  position:absolute;
  left:0px;
  top:500px;
}
#u3348.a {
}
#u3350.a {
}
#u3352.a {
}
#u3354.a {
}
#u3356.a {
}
#u3358.a {
}
#u3360.a {
}
#u3362.a {
}
#u3364.a {
}
#u3366.a {
}
#u3368.a {
}
#u3340_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3340_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3370.a {
  position:absolute;
  left:845px;
  top:165px;
  width:110px;
  height:110px;
}
#u3371.a {
}
#u3370_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3373.a {
  position:absolute;
  left:1014px;
  top:478px;
  width:70px;
  height:70px;
}
#u3374.a {
}
#u3373_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3376.a {
  position:absolute;
  left:990px;
  top:55px;
  width:40px;
  height:40px;
}
#u3377.a {
}
#u3376_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3379.a {
  position:absolute;
  left:1179px;
  top:422px;
  width:10px;
  height:10px;
}
#u3380.a {
}
#u3379_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3382.a {
  position:absolute;
  left:385px;
  top:322px;
}
#u3383.a {
}
#u3385.a {
  position:absolute;
  left:900px;
  top:367px;
  width:110px;
  height:110px;
}
#u3386.a {
}
#u3385_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3388.a {
  position:absolute;
  left:1029px;
  top:342px;
  width:70px;
  height:70px;
}
#u3389.a {
}
#u3388_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3391.a {
  position:absolute;
  left:1006px;
  top:214px;
  width:70px;
  height:70px;
}
#u3392.a {
}
#u3391_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3394.a {
  position:absolute;
  left:940px;
  top:95px;
  width:70px;
  height:70px;
}
#u3395.a {
}
#u3394_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3397.a {
  position:absolute;
  left:870px;
  top:25px;
  width:70px;
  height:70px;
}
#u3398.a {
}
#u3397_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3400.a {
  position:absolute;
  left:1086px;
  top:229px;
  width:40px;
  height:40px;
}
#u3401.a {
}
#u3400_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3403.a {
  position:absolute;
  left:1100px;
  top:490px;
  width:40px;
  height:40px;
}
#u3404.a {
}
#u3403_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3406.a {
  position:absolute;
  left:1108px;
  top:163px;
  width:20px;
  height:20px;
}
#u3407.a {
}
#u3406_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3409.a {
  position:absolute;
  left:1120px;
  top:199px;
  width:20px;
  height:20px;
}
#u3410.a {
}
#u3409_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3412.a {
  position:absolute;
  left:1159px;
  top:240px;
  width:10px;
  height:10px;
}
#u3413.a {
}
#u3412_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3415.a {
  position:absolute;
  left:1166px;
  top:270px;
  width:10px;
  height:10px;
}
#u3416.a {
}
#u3415_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3418.a {
  position:absolute;
  left:1176px;
  top:330px;
  width:10px;
  height:10px;
}
#u3419.a {
}
#u3418_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3421.a {
  position:absolute;
  left:1080px;
  top:72px;
  width:10px;
  height:10px;
}
#u3422.a {
}
#u3421_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3424.a {
  position:absolute;
  left:1113px;
  top:128px;
  width:10px;
  height:10px;
}
#u3425.a {
}
#u3424_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3427.a {
  position:absolute;
  left:1107px;
  top:384px;
  width:40px;
  height:40px;
}
#u3428.a {
}
#u3427_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3430.a {
  position:absolute;
  left:1146px;
  top:304px;
  width:20px;
  height:20px;
}
#u3431.a {
}
#u3430_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3433.a {
  position:absolute;
  left:741px;
  top:255px;
}
#u3434.a {
}
#u3436.a {
  position:absolute;
  left:741px;
  top:417px;
}
#u3437.a {
}
#u3439.a {
  position:absolute;
  left:1157px;
  top:367px;
  width:20px;
  height:20px;
}
#u3440.a {
}
#u3439_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3442.a {
  position:absolute;
  left:450px;
  top:474px;
}
#u3443.a {
}
#u3445.a {
  position:absolute;
  left:607px;
  top:510px;
}
#u3446.a {
}
#u3448.a {
  position:absolute;
  left:620px;
  top:152px;
}
#u3449.a {
}
#u3451.a {
  position:absolute;
  left:462px;
  top:175px;
}
#u3452.a {
}
#u3454.a {
  position:absolute;
  left:815px;
  top:567px;
  width:110px;
  height:110px;
}
#u3455.a {
}
#u3454_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3457.a {
  position:absolute;
  left:650px;
  top:25px;
  width:110px;
  height:110px;
}
#u3458.a {
}
#u3457_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3460.a {
  position:absolute;
  left:415px;
  top:60px;
  width:110px;
  height:110px;
}
#u3461.a {
}
#u3460_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3463.a {
  position:absolute;
  left:280px;
  top:240px;
  width:110px;
  height:110px;
}
#u3464.a {
}
#u3463_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3466.a {
  position:absolute;
  left:265px;
  top:437px;
  width:110px;
  height:110px;
}
#u3467.a {
}
#u3466_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3469.a {
  position:absolute;
  left:400px;
  top:614px;
  width:110px;
  height:110px;
}
#u3470.a {
}
#u3469_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3472.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u3473.a {
}
#u3472_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3475.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u3476.a {
}
#u3475_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3478.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u3479.a {
}
#u3478_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3481.a {
  position:absolute;
  left:180px;
  top:430px;
  width:70px;
  height:70px;
}
#u3482.a {
}
#u3481_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3484.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u3485.a {
}
#u3484_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3487.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u3488.a {
}
#u3487_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3490.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u3491.a {
}
#u3490_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3493.a {
  position:absolute;
  left:215px;
  top:110px;
  width:40px;
  height:40px;
}
#u3494.a {
}
#u3493_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3496.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u3497.a {
}
#u3496_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3499.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u3500.a {
}
#u3499_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3502.a {
  position:absolute;
  left:185px;
  top:600px;
  width:40px;
  height:40px;
}
#u3503.a {
}
#u3502_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3505.a {
  position:absolute;
  left:226px;
  top:670px;
  width:40px;
  height:40px;
}
#u3506.a {
}
#u3505_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3508.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u3509.a {
}
#u3508_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3511.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u3512.a {
}
#u3511_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3514.a {
  position:absolute;
  left:1018px;
  top:661px;
  width:40px;
  height:40px;
}
#u3515.a {
}
#u3514_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3517.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u3518.a {
}
#u3517_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3520.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u3521.a {
}
#u3520_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3523.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u3524.a {
}
#u3523_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3526.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u3527.a {
}
#u3526_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3529.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u3530.a {
}
#u3529_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3532.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u3533.a {
}
#u3532_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3535.a {
  position:absolute;
  left:180px;
  top:662px;
  width:20px;
  height:20px;
}
#u3536.a {
}
#u3535_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3538.a {
  position:absolute;
  left:139px;
  top:578px;
  width:20px;
  height:20px;
}
#u3539.a {
}
#u3538_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3541.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u3542.a {
}
#u3541_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3544.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u3545.a {
}
#u3544_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3547.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u3548.a {
}
#u3547_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3550.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u3551.a {
}
#u3550_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3553.a {
  position:absolute;
  left:737px;
  top:181px;
}
#u3554.a {
}
#u3556.a {
}
#u3558.a {
}
#u3560.a {
}
#u3562.a {
  position:absolute;
  left:1069px;
  top:473px;
}
#u3563.a {
}
#u3565.a {
}
#u3567.a {
}
#u3569.a {
}
#u3571.a {
  position:absolute;
  left:255px;
  top:302px;
}
#u3572.a {
}
#u3574.a {
}
#u3576.a {
}
#u3578.a {
}
#u3580.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u3581.a {
}
#u3583.a {
}
#u3585.a {
}
#u3587.a {
}
#u3589.a {
}
#u3591.a {
}
#u3593.a {
}
#u3595.a {
}
#u3597.a {
}
#u3599.a {
}
#u3601.a {
  position:absolute;
  left:880px;
  top:700px;
  width:70px;
  height:70px;
}
#u3602.a {
}
#u3601_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3604.a {
  position:absolute;
  left:315px;
  top:680px;
  width:70px;
  height:70px;
}
#u3605.a {
}
#u3604_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3607.a {
  position:absolute;
  left:560px;
  top:670px;
  width:110px;
  height:110px;
}
#u3608.a {
}
#u3607_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3610.a {
  position:absolute;
  left:0px;
  top:287px;
  width:1280px;
  height:513px;
}
#u3611.a {
}
#u3613.a {
}
#u3615.a {
}
#u3617.a {
  position:absolute;
  left:0px;
  top:500px;
}
#u3618.a {
}
#u3620.a {
}
#u3622.a {
}
#u3624.a {
}
#u3626.a {
}
#u3628.a {
}
#u3630.a {
}
#u3632.a {
}
#u3634.a {
}
#u3636.a {
}
#u3638.a {
}
#u3610_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3610_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3640.a {
  position:absolute;
  left:845px;
  top:165px;
  width:110px;
  height:110px;
}
#u3641.a {
}
#u3640_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3643.a {
  position:absolute;
  left:1014px;
  top:478px;
  width:70px;
  height:70px;
}
#u3644.a {
}
#u3643_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3646.a {
  position:absolute;
  left:990px;
  top:55px;
  width:40px;
  height:40px;
}
#u3647.a {
}
#u3646_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3649.a {
  position:absolute;
  left:1179px;
  top:422px;
  width:10px;
  height:10px;
}
#u3650.a {
}
#u3649_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3652.a {
  position:absolute;
  left:385px;
  top:322px;
}
#u3653.a {
}
#u3655.a {
  position:absolute;
  left:900px;
  top:367px;
  width:110px;
  height:110px;
}
#u3656.a {
}
#u3655_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3658.a {
  position:absolute;
  left:1029px;
  top:342px;
  width:70px;
  height:70px;
}
#u3659.a {
}
#u3658_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3661.a {
  position:absolute;
  left:1006px;
  top:214px;
  width:70px;
  height:70px;
}
#u3662.a {
}
#u3661_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3664.a {
  position:absolute;
  left:940px;
  top:95px;
  width:70px;
  height:70px;
}
#u3665.a {
}
#u3664_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3667.a {
  position:absolute;
  left:870px;
  top:25px;
  width:70px;
  height:70px;
}
#u3668.a {
}
#u3667_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3670.a {
  position:absolute;
  left:1086px;
  top:229px;
  width:40px;
  height:40px;
}
#u3671.a {
}
#u3670_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3673.a {
  position:absolute;
  left:1100px;
  top:490px;
  width:40px;
  height:40px;
}
#u3674.a {
}
#u3673_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3676.a {
  position:absolute;
  left:1108px;
  top:163px;
  width:20px;
  height:20px;
}
#u3677.a {
}
#u3676_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3679.a {
  position:absolute;
  left:1120px;
  top:199px;
  width:20px;
  height:20px;
}
#u3680.a {
}
#u3679_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3682.a {
  position:absolute;
  left:1159px;
  top:240px;
  width:10px;
  height:10px;
}
#u3683.a {
}
#u3682_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3685.a {
  position:absolute;
  left:1166px;
  top:270px;
  width:10px;
  height:10px;
}
#u3686.a {
}
#u3685_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3688.a {
  position:absolute;
  left:1176px;
  top:330px;
  width:10px;
  height:10px;
}
#u3689.a {
}
#u3688_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3691.a {
  position:absolute;
  left:1080px;
  top:72px;
  width:10px;
  height:10px;
}
#u3692.a {
}
#u3691_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3694.a {
  position:absolute;
  left:1113px;
  top:128px;
  width:10px;
  height:10px;
}
#u3695.a {
}
#u3694_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3697.a {
  position:absolute;
  left:1107px;
  top:384px;
  width:40px;
  height:40px;
}
#u3698.a {
}
#u3697_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3700.a {
  position:absolute;
  left:1146px;
  top:304px;
  width:20px;
  height:20px;
}
#u3701.a {
}
#u3700_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3703.a {
  position:absolute;
  left:741px;
  top:417px;
}
#u3704.a {
}
#u3706.a {
  position:absolute;
  left:1157px;
  top:367px;
  width:20px;
  height:20px;
}
#u3707.a {
}
#u3706_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3709.a {
  position:absolute;
  left:620px;
  top:152px;
}
#u3710.a {
}
#u3712.a {
  position:absolute;
  left:462px;
  top:175px;
}
#u3713.a {
}
#u3715.a {
  position:absolute;
  left:815px;
  top:567px;
  width:110px;
  height:110px;
}
#u3716.a {
}
#u3715_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3718.a {
  position:absolute;
  left:650px;
  top:25px;
  width:110px;
  height:110px;
}
#u3719.a {
}
#u3718_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3721.a {
  position:absolute;
  left:415px;
  top:60px;
  width:110px;
  height:110px;
}
#u3722.a {
}
#u3721_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3724.a {
  position:absolute;
  left:280px;
  top:240px;
  width:110px;
  height:110px;
}
#u3725.a {
}
#u3724_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3727.a {
  position:absolute;
  left:265px;
  top:437px;
  width:110px;
  height:110px;
}
#u3728.a {
}
#u3727_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3730.a {
  position:absolute;
  left:400px;
  top:614px;
  width:110px;
  height:110px;
}
#u3731.a {
}
#u3730_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3733.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u3734.a {
}
#u3733_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3736.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u3737.a {
}
#u3736_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3739.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u3740.a {
}
#u3739_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3742.a {
  position:absolute;
  left:180px;
  top:430px;
  width:70px;
  height:70px;
}
#u3743.a {
}
#u3742_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3745.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u3746.a {
}
#u3745_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3748.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u3749.a {
}
#u3748_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3751.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u3752.a {
}
#u3751_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3754.a {
  position:absolute;
  left:215px;
  top:110px;
  width:40px;
  height:40px;
}
#u3755.a {
}
#u3754_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3757.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u3758.a {
}
#u3757_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3760.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u3761.a {
}
#u3760_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3763.a {
  position:absolute;
  left:185px;
  top:600px;
  width:40px;
  height:40px;
}
#u3764.a {
}
#u3763_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3766.a {
  position:absolute;
  left:226px;
  top:670px;
  width:40px;
  height:40px;
}
#u3767.a {
}
#u3766_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3769.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u3770.a {
}
#u3769_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3772.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u3773.a {
}
#u3772_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3775.a {
  position:absolute;
  left:1018px;
  top:661px;
  width:40px;
  height:40px;
}
#u3776.a {
}
#u3775_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3778.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u3779.a {
}
#u3778_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3781.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u3782.a {
}
#u3781_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3784.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u3785.a {
}
#u3784_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3787.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u3788.a {
}
#u3787_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3790.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u3791.a {
}
#u3790_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3793.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u3794.a {
}
#u3793_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3796.a {
  position:absolute;
  left:180px;
  top:662px;
  width:20px;
  height:20px;
}
#u3797.a {
}
#u3796_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3799.a {
  position:absolute;
  left:139px;
  top:578px;
  width:20px;
  height:20px;
}
#u3800.a {
}
#u3799_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3802.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u3803.a {
}
#u3802_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3805.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u3806.a {
}
#u3805_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3808.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u3809.a {
}
#u3808_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3811.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u3812.a {
}
#u3811_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3814.a {
  position:absolute;
  left:444px;
  top:478px;
}
#u3815.a {
}
#u3817.a {
  position:absolute;
  left:605px;
  top:516px;
}
#u3818.a {
}
#u3820.a {
  position:absolute;
  left:744px;
  top:257px;
}
#u3821.a {
}
#u3823.a {
  position:absolute;
  left:1069px;
  top:473px;
}
#u3824.a {
}
#u3826.a {
}
#u3828.a {
}
#u3830.a {
}
#u3832.a {
  position:absolute;
  left:249px;
  top:302px;
}
#u3833.a {
}
#u3835.a {
}
#u3837.a {
}
#u3839.a {
}
#u3841.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u3842.a {
}
#u3844.a {
}
#u3846.a {
}
#u3848.a {
}
#u3850.a {
  position:absolute;
  left:737px;
  top:181px;
}
#u3851.a {
}
#u3853.a {
}
#u3855.a {
}
#u3857.a {
}
#u1728_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state3.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state4.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state5.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state6.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state7.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3859.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u3860.a {
}
#u3862.a {
}
#u3864.a {
}
#u3866.a {
}
#u3868.a {
}
#u3870.a {
}
#u3872.a {
}
#u3874.a {
}
#u3876.a {
}
#u3878.a {
}
#u3880.a {
}
#u3882.a {
}
#u3884.a {
}
#u3886.a {
}
#u3888.a {
}
#u3890.a {
}
#u3892.a {
}
#u3894.a {
}
#u3896.a {
}
#u3898.a {
}
#u3900.a {
}
#u3902.a {
}
#u3904.a {
}
#u3906.a {
}
#u3908.a {
}
#u3910.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u3911.a {
}
#u3913.a {
}
#u3915.a {
}
#u3917.a {
  position:absolute;
  left:0px;
  top:90px;
}
#u3918.a {
}
#u3918_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:700px;
}
#u3919.a {
}
#u3921.a {
}
#u3923.a {
}
.u3924.a {
}
.u3926.a {
}
.u3928.a {
}
#u3930.a {
}
.u3931.a {
}
.u3933.a {
}
.u3935.a {
}
#u3937.a {
}
#u3939.a {
}
#u3941.a {
  position:absolute;
  left:1px;
  top:0px;
}
#u3942.a {
}
#u3944.a {
}
#u3946.a {
}
#u3948.a {
}
#u3948_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3948_end.a {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u3948_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u3949.a {
  position:absolute;
  left:578px;
  top:6px;
}
#u3950.a {
}
#u3952.a {
}
#u3954.a {
}
#u3956.a {
}
#u3958.a {
}
#u3960.a {
}
#u3962.a {
}
#u3964.a {
}
#u3966.a {
}
#u3968.a {
}
#u3970.a {
}
#u3972.a {
  position:absolute;
  left:1061px;
  top:0px;
}
#u3973.a {
}
#u3975.a {
}
#u3977.a {
}
#u3979.a {
}
#u3981.a {
}
#u3983.a {
}
#u3985.a {
}
#u3985_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3985_end.a {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3985_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u3986.a {
}
#u3988.a {
}
#u3990.a {
}
#u3992.a {
}
#u3994.a {
}
#u3996.a {
}
#u3998.a {
}
#u4000.a {
}
#u4002.a {
}
#u4004.a {
}
#u4006.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u4007.a {
}
#u4009.a {
}
#u4011.a {
}
#u4013.a {
}
#u4015.a {
}
#u4017.a {
}
#u4019.a {
}
#u4021.a {
}
#u4023.a {
}
#u4025.a {
}
#u4027.a {
}
#u4029.a {
}
#u4031.a {
}
#u4006_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
