
#u2786.a {
  position:absolute;
  left:900px;
  top:367px;
  width:110px;
  height:110px;
}
#u2787.a {
}
#u2786_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2789.a {
  position:absolute;
  left:1029px;
  top:342px;
  width:70px;
  height:70px;
}
#u2790.a {
}
#u2789_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2792.a {
  position:absolute;
  left:1006px;
  top:214px;
  width:70px;
  height:70px;
}
#u2793.a {
}
#u2792_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2795.a {
  position:absolute;
  left:940px;
  top:95px;
  width:70px;
  height:70px;
}
#u2796.a {
}
#u2795_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2798.a {
  position:absolute;
  left:870px;
  top:25px;
  width:70px;
  height:70px;
}
#u2799.a {
}
#u2798_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2801.a {
  position:absolute;
  left:1086px;
  top:229px;
  width:40px;
  height:40px;
}
#u2802.a {
}
#u2801_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2804.a {
  position:absolute;
  left:1100px;
  top:490px;
  width:40px;
  height:40px;
}
#u2805.a {
}
#u2804_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2807.a {
  position:absolute;
  left:1108px;
  top:163px;
  width:20px;
  height:20px;
}
#u2808.a {
}
#u2807_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2810.a {
  position:absolute;
  left:1120px;
  top:199px;
  width:20px;
  height:20px;
}
#u2811.a {
}
#u2810_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2813.a {
  position:absolute;
  left:1159px;
  top:240px;
  width:10px;
  height:10px;
}
#u2814.a {
}
#u2813_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2816.a {
  position:absolute;
  left:1166px;
  top:270px;
  width:10px;
  height:10px;
}
#u2817.a {
}
#u2816_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2819.a {
  position:absolute;
  left:1176px;
  top:330px;
  width:10px;
  height:10px;
}
#u2820.a {
}
#u2819_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2822.a {
  position:absolute;
  left:1080px;
  top:72px;
  width:10px;
  height:10px;
}
#u2823.a {
}
#u2822_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2825.a {
  position:absolute;
  left:1113px;
  top:128px;
  width:10px;
  height:10px;
}
#u2826.a {
}
#u2825_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2828.a {
  position:absolute;
  left:1107px;
  top:384px;
  width:40px;
  height:40px;
}
#u2829.a {
}
#u2828_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2831.a {
  position:absolute;
  left:1146px;
  top:304px;
  width:20px;
  height:20px;
}
#u2832.a {
}
#u2831_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2834.a {
  position:absolute;
  left:741px;
  top:417px;
}
#u2835.a {
}
#u2837.a {
  position:absolute;
  left:1157px;
  top:367px;
  width:20px;
  height:20px;
}
#u2838.a {
}
#u2837_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2840.a {
  position:absolute;
  left:620px;
  top:152px;
}
#u2841.a {
}
#u2843.a {
  position:absolute;
  left:462px;
  top:175px;
}
#u2844.a {
}
#u2846.a {
  position:absolute;
  left:815px;
  top:567px;
  width:110px;
  height:110px;
}
#u2847.a {
}
#u2846_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2849.a {
  position:absolute;
  left:650px;
  top:25px;
  width:110px;
  height:110px;
}
#u2850.a {
}
#u2849_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2852.a {
  position:absolute;
  left:415px;
  top:60px;
  width:110px;
  height:110px;
}
#u2853.a {
}
#u2852_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2855.a {
  position:absolute;
  left:280px;
  top:240px;
  width:110px;
  height:110px;
}
#u2856.a {
}
#u2855_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2858.a {
  position:absolute;
  left:265px;
  top:437px;
  width:110px;
  height:110px;
}
#u2859.a {
}
#u2858_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2861.a {
  position:absolute;
  left:400px;
  top:614px;
  width:110px;
  height:110px;
}
#u2862.a {
}
#u2861_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2864.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u2865.a {
}
#u2864_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2867.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u2868.a {
}
#u2867_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2870.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u2871.a {
}
#u2870_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2873.a {
  position:absolute;
  left:180px;
  top:430px;
  width:70px;
  height:70px;
}
#u2874.a {
}
#u2873_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2876.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u2877.a {
}
#u2876_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2879.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u2880.a {
}
#u2879_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2882.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u2883.a {
}
#u2882_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2885.a {
  position:absolute;
  left:215px;
  top:110px;
  width:40px;
  height:40px;
}
#u2886.a {
}
#u2885_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2888.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u2889.a {
}
#u2888_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2891.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u2892.a {
}
#u2891_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2894.a {
  position:absolute;
  left:185px;
  top:600px;
  width:40px;
  height:40px;
}
#u2895.a {
}
#u2894_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2897.a {
  position:absolute;
  left:226px;
  top:670px;
  width:40px;
  height:40px;
}
#u2898.a {
}
#u2897_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2900.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u2901.a {
}
#u2900_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2903.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u2904.a {
}
#u2903_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2906.a {
  position:absolute;
  left:1018px;
  top:661px;
  width:40px;
  height:40px;
}
#u2907.a {
}
#u2906_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2909.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u2910.a {
}
#u2909_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2912.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u2913.a {
}
#u2912_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2915.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u2916.a {
}
#u2915_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2918.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u2919.a {
}
#u2918_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2921.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u2922.a {
}
#u2921_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2924.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u2925.a {
}
#u2924_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2927.a {
  position:absolute;
  left:180px;
  top:662px;
  width:20px;
  height:20px;
}
#u2928.a {
}
#u2927_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2930.a {
  position:absolute;
  left:139px;
  top:578px;
  width:20px;
  height:20px;
}
#u2931.a {
}
#u2930_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2933.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u2934.a {
}
#u2933_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2936.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u2937.a {
}
#u2936_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2939.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u2940.a {
}
#u2939_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2942.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u2943.a {
}
#u2942_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2945.a {
  position:absolute;
  left:444px;
  top:478px;
}
#u2946.a {
}
#u2948.a {
  position:absolute;
  left:605px;
  top:516px;
}
#u2949.a {
}
#u2951.a {
  position:absolute;
  left:744px;
  top:257px;
}
#u2952.a {
}
#u2954.a {
  position:absolute;
  left:1069px;
  top:473px;
}
#u2955.a {
}
#u2957.a {
}
#u2959.a {
}
#u2961.a {
}
#u2963.a {
  position:absolute;
  left:255px;
  top:302px;
}
#u2964.a {
}
#u2966.a {
}
#u2968.a {
}
#u2970.a {
}
#u2972.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u2973.a {
}
#u2975.a {
}
#u2977.a {
}
#u2979.a {
}
#u2981.a {
  position:absolute;
  left:737px;
  top:181px;
}
#u2982.a {
}
#u2984.a {
}
#u2986.a {
}
#u2988.a {
}
#u2990.a {
}
#u2992.a {
}
#u2994.a {
}
#u2996.a {
}
#u2998.a {
}
#u3000.a {
}
#u3002.a {
  position:absolute;
  left:880px;
  top:700px;
  width:70px;
  height:70px;
}
#u3003.a {
}
#u3002_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3005.a {
  position:absolute;
  left:315px;
  top:680px;
  width:70px;
  height:70px;
}
#u3006.a {
}
#u3005_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3008.a {
  position:absolute;
  left:720px;
  top:637px;
  width:110px;
  height:110px;
}
#u3009.a {
}
#u3008_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3011.a {
  position:absolute;
  left:0px;
  top:287px;
  width:1280px;
  height:513px;
}
#u3012.a {
}
#u3014.a {
}
#u3016.a {
}
#u3018.a {
}
#u3020.a {
}
#u3022.a {
}
#u3024.a {
}
#u3026.a {
}
#u3011_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3011_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3028.a {
  position:absolute;
  left:845px;
  top:165px;
  width:110px;
  height:110px;
}
#u3029.a {
}
#u3028_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3031.a {
  position:absolute;
  left:908px;
  top:66px;
  width:70px;
  height:70px;
}
#u3032.a {
}
#u3031_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3034.a {
  position:absolute;
  left:200px;
  top:130px;
  width:40px;
  height:40px;
}
#u3035.a {
}
#u3034_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3037.a {
  position:absolute;
  left:1179px;
  top:422px;
  width:10px;
  height:10px;
}
#u3038.a {
}
#u3037_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3040.a {
  position:absolute;
  left:390px;
  top:410px;
}
#u3041.a {
}
#u3043.a {
  position:absolute;
  left:1007px;
  top:505px;
  width:70px;
  height:70px;
}
#u3044.a {
}
#u3043_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3046.a {
  position:absolute;
  left:988px;
  top:175px;
  width:70px;
  height:70px;
}
#u3047.a {
}
#u3046_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3049.a {
  position:absolute;
  left:1027px;
  top:392px;
  width:70px;
  height:70px;
}
#u3050.a {
}
#u3049_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3052.a {
  position:absolute;
  left:1099px;
  top:280px;
  width:40px;
  height:40px;
}
#u3053.a {
}
#u3052_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3055.a {
  position:absolute;
  left:242px;
  top:689px;
  width:40px;
  height:40px;
}
#u3056.a {
}
#u3055_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3058.a {
  position:absolute;
  left:1108px;
  top:163px;
  width:20px;
  height:20px;
}
#u3059.a {
}
#u3058_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3061.a {
  position:absolute;
  left:1120px;
  top:199px;
  width:20px;
  height:20px;
}
#u3062.a {
}
#u3061_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3064.a {
  position:absolute;
  left:1159px;
  top:240px;
  width:10px;
  height:10px;
}
#u3065.a {
}
#u3064_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3067.a {
  position:absolute;
  left:1166px;
  top:270px;
  width:10px;
  height:10px;
}
#u3068.a {
}
#u3067_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3070.a {
  position:absolute;
  left:1176px;
  top:330px;
  width:10px;
  height:10px;
}
#u3071.a {
}
#u3070_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3073.a {
  position:absolute;
  left:1080px;
  top:72px;
  width:10px;
  height:10px;
}
#u3074.a {
}
#u3073_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3076.a {
  position:absolute;
  left:1113px;
  top:128px;
  width:10px;
  height:10px;
}
#u3077.a {
}
#u3076_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3079.a {
  position:absolute;
  left:1107px;
  top:384px;
  width:40px;
  height:40px;
}
#u3080.a {
}
#u3079_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3082.a {
  position:absolute;
  left:1146px;
  top:304px;
  width:20px;
  height:20px;
}
#u3083.a {
}
#u3082_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3085.a {
  position:absolute;
  left:1157px;
  top:367px;
  width:20px;
  height:20px;
}
#u3086.a {
}
#u3085_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3088.a {
  position:absolute;
  left:750px;
  top:261px;
}
#u3089.a {
}
#u3091.a {
  position:absolute;
  left:589px;
  top:141px;
}
#u3092.a {
}
#u3094.a {
  position:absolute;
  left:887px;
  top:492px;
  width:110px;
  height:110px;
}
#u3095.a {
}
#u3094_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3097.a {
  position:absolute;
  left:263px;
  top:349px;
  width:110px;
  height:110px;
}
#u3098.a {
}
#u3097_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3100.a {
  position:absolute;
  left:904px;
  top:330px;
  width:110px;
  height:110px;
}
#u3101.a {
}
#u3100_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3103.a {
  position:absolute;
  left:479px;
  top:33px;
  width:110px;
  height:110px;
}
#u3104.a {
}
#u3103_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3106.a {
  position:absolute;
  left:360px;
  top:572px;
  width:110px;
  height:110px;
}
#u3107.a {
}
#u3106_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3109.a {
  position:absolute;
  left:729px;
  top:50px;
  width:110px;
  height:110px;
}
#u3110.a {
}
#u3109_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3112.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u3113.a {
}
#u3112_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3115.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u3116.a {
}
#u3115_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3118.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u3119.a {
}
#u3118_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3121.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u3122.a {
}
#u3121_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3124.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u3125.a {
}
#u3124_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3127.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u3128.a {
}
#u3127_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3130.a {
  position:absolute;
  left:982px;
  top:53px;
  width:40px;
  height:40px;
}
#u3131.a {
}
#u3130_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3133.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u3134.a {
}
#u3133_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3136.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u3137.a {
}
#u3136_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3139.a {
  position:absolute;
  left:203px;
  top:639px;
  width:40px;
  height:40px;
}
#u3140.a {
}
#u3139_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3142.a {
  position:absolute;
  left:1028px;
  top:648px;
  width:40px;
  height:40px;
}
#u3143.a {
}
#u3142_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3145.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u3146.a {
}
#u3145_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3148.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u3149.a {
}
#u3148_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3151.a {
  position:absolute;
  left:1104px;
  top:450px;
  width:40px;
  height:40px;
}
#u3152.a {
}
#u3151_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3154.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u3155.a {
}
#u3154_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3157.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u3158.a {
}
#u3157_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3160.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u3161.a {
}
#u3160_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3163.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u3164.a {
}
#u3163_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3166.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u3167.a {
}
#u3166_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3169.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u3170.a {
}
#u3169_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3172.a {
  position:absolute;
  left:212px;
  top:709px;
  width:20px;
  height:20px;
}
#u3173.a {
}
#u3172_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3175.a {
  position:absolute;
  left:120px;
  top:516px;
  width:20px;
  height:20px;
}
#u3176.a {
}
#u3175_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3178.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u3179.a {
}
#u3178_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3181.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u3182.a {
}
#u3181_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3184.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u3185.a {
}
#u3184_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3187.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u3188.a {
}
#u3187_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3190.a {
  position:absolute;
  left:705px;
  top:170px;
}
#u3191.a {
}
#u3193.a {
}
#u3195.a {
}
#u3197.a {
}
#u3199.a {
  position:absolute;
  left:964px;
  top:60px;
}
#u3200.a {
}
#u3202.a {
}
#u3204.a {
}
#u3206.a {
}
#u3208.a {
  position:absolute;
  left:256px;
  top:391px;
}
#u3209.a {
}
#u3211.a {
}
#u3213.a {
}
#u3215.a {
}
#u3217.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u3218.a {
}
#u3220.a {
}
#u3222.a {
}
#u3224.a {
}
#u3226.a {
  position:absolute;
  left:192px;
  top:466px;
  width:70px;
  height:70px;
}
#u3227.a {
}
#u3226_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3229.a {
  position:absolute;
  left:720px;
  top:440px;
}
#u3230.a {
}
#u3232.a {
  position:absolute;
  left:540px;
  top:514px;
}
#u3233.a {
}
#u3235.a {
  position:absolute;
  left:413px;
  top:223px;
}
#u3236.a {
}
#u3238.a {
  position:absolute;
  left:289px;
  top:204px;
  width:110px;
  height:110px;
}
#u3239.a {
}
#u3238_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3241.a {
}
#u3243.a {
}
#u3245.a {
}
#u3247.a {
}
#u3249.a {
}
#u3251.a {
}
#u3253.a {
  position:absolute;
  left:880px;
  top:700px;
  width:70px;
  height:70px;
}
#u3254.a {
}
#u3253_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3256.a {
  position:absolute;
  left:315px;
  top:680px;
  width:70px;
  height:70px;
}
#u3257.a {
}
#u3256_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3259.a {
  position:absolute;
  left:560px;
  top:670px;
  width:110px;
  height:110px;
}
#u3260.a {
}
#u3259_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3262.a {
  position:absolute;
  left:0px;
  top:287px;
  width:1280px;
  height:513px;
}
#u3263.a {
}
#u3265.a {
}
#u3267.a {
}
#u3269.a {
}
#u3271.a {
}
#u3273.a {
}
#u3275.a {
}
#u3277.a {
}
#u3262_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3262_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3279.a {
  position:absolute;
  left:845px;
  top:165px;
  width:110px;
  height:110px;
}
#u3280.a {
}
#u3279_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3282.a {
  position:absolute;
  left:1014px;
  top:478px;
  width:70px;
  height:70px;
}
#u3283.a {
}
#u3282_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3285.a {
  position:absolute;
  left:990px;
  top:55px;
  width:40px;
  height:40px;
}
#u3286.a {
}
#u3285_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3288.a {
  position:absolute;
  left:1179px;
  top:422px;
  width:10px;
  height:10px;
}
#u3289.a {
}
#u3288_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3291.a {
  position:absolute;
  left:385px;
  top:322px;
}
#u3292.a {
}
#u3294.a {
  position:absolute;
  left:900px;
  top:367px;
  width:110px;
  height:110px;
}
#u3295.a {
}
#u3294_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3297.a {
  position:absolute;
  left:1029px;
  top:342px;
  width:70px;
  height:70px;
}
#u3298.a {
}
#u3297_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3300.a {
  position:absolute;
  left:1006px;
  top:214px;
  width:70px;
  height:70px;
}
#u3301.a {
}
#u3300_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3303.a {
  position:absolute;
  left:940px;
  top:95px;
  width:70px;
  height:70px;
}
#u3304.a {
}
#u3303_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3306.a {
  position:absolute;
  left:870px;
  top:25px;
  width:70px;
  height:70px;
}
#u3307.a {
}
#u3306_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3309.a {
  position:absolute;
  left:1086px;
  top:229px;
  width:40px;
  height:40px;
}
#u3310.a {
}
#u3309_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3312.a {
  position:absolute;
  left:1100px;
  top:490px;
  width:40px;
  height:40px;
}
#u3313.a {
}
#u3312_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3315.a {
  position:absolute;
  left:1108px;
  top:163px;
  width:20px;
  height:20px;
}
#u3316.a {
}
#u3315_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3318.a {
  position:absolute;
  left:1120px;
  top:199px;
  width:20px;
  height:20px;
}
#u3319.a {
}
#u3318_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3321.a {
  position:absolute;
  left:1159px;
  top:240px;
  width:10px;
  height:10px;
}
#u3322.a {
}
#u3321_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3324.a {
  position:absolute;
  left:1166px;
  top:270px;
  width:10px;
  height:10px;
}
#u3325.a {
}
#u3324_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3327.a {
  position:absolute;
  left:1176px;
  top:330px;
  width:10px;
  height:10px;
}
#u3328.a {
}
#u3327_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3330.a {
  position:absolute;
  left:1080px;
  top:72px;
  width:10px;
  height:10px;
}
#u3331.a {
}
#u3330_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3333.a {
  position:absolute;
  left:1113px;
  top:128px;
  width:10px;
  height:10px;
}
#u3334.a {
}
#u3333_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3336.a {
  position:absolute;
  left:1107px;
  top:384px;
  width:40px;
  height:40px;
}
#u3337.a {
}
#u3336_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3339.a {
  position:absolute;
  left:1146px;
  top:304px;
  width:20px;
  height:20px;
}
#u3340.a {
}
#u3339_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3342.a {
  position:absolute;
  left:741px;
  top:255px;
}
#u3343.a {
}
#u3345.a {
  position:absolute;
  left:741px;
  top:417px;
}
#u3346.a {
}
#u3348.a {
  position:absolute;
  left:1157px;
  top:367px;
  width:20px;
  height:20px;
}
#u3349.a {
}
#u3348_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3351.a {
  position:absolute;
  left:450px;
  top:474px;
}
#u3352.a {
}
#u3354.a {
  position:absolute;
  left:607px;
  top:510px;
}
#u3355.a {
}
#u3357.a {
  position:absolute;
  left:620px;
  top:152px;
}
#u3358.a {
}
#u3360.a {
  position:absolute;
  left:462px;
  top:175px;
}
#u3361.a {
}
#u3363.a {
  position:absolute;
  left:815px;
  top:567px;
  width:110px;
  height:110px;
}
#u3364.a {
}
#u3363_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3366.a {
  position:absolute;
  left:650px;
  top:25px;
  width:110px;
  height:110px;
}
#u3367.a {
}
#u3366_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3369.a {
  position:absolute;
  left:415px;
  top:60px;
  width:110px;
  height:110px;
}
#u3370.a {
}
#u3369_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3372.a {
  position:absolute;
  left:280px;
  top:240px;
  width:110px;
  height:110px;
}
#u3373.a {
}
#u3372_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3375.a {
  position:absolute;
  left:265px;
  top:437px;
  width:110px;
  height:110px;
}
#u3376.a {
}
#u3375_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3378.a {
  position:absolute;
  left:400px;
  top:614px;
  width:110px;
  height:110px;
}
#u3379.a {
}
#u3378_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3381.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u3382.a {
}
#u3381_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3384.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u3385.a {
}
#u3384_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3387.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u3388.a {
}
#u3387_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3390.a {
  position:absolute;
  left:180px;
  top:430px;
  width:70px;
  height:70px;
}
#u3391.a {
}
#u3390_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3393.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u3394.a {
}
#u3393_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3396.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u3397.a {
}
#u3396_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3399.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u3400.a {
}
#u3399_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3402.a {
  position:absolute;
  left:215px;
  top:110px;
  width:40px;
  height:40px;
}
#u3403.a {
}
#u3402_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3405.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u3406.a {
}
#u3405_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3408.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u3409.a {
}
#u3408_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3411.a {
  position:absolute;
  left:185px;
  top:600px;
  width:40px;
  height:40px;
}
#u3412.a {
}
#u3411_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3414.a {
  position:absolute;
  left:226px;
  top:670px;
  width:40px;
  height:40px;
}
#u3415.a {
}
#u3414_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3417.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u3418.a {
}
#u3417_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3420.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u3421.a {
}
#u3420_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3423.a {
  position:absolute;
  left:1018px;
  top:661px;
  width:40px;
  height:40px;
}
#u3424.a {
}
#u3423_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3426.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u3427.a {
}
#u3426_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3429.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u3430.a {
}
#u3429_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3432.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u3433.a {
}
#u3432_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3435.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u3436.a {
}
#u3435_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3438.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u3439.a {
}
#u3438_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3441.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u3442.a {
}
#u3441_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3444.a {
  position:absolute;
  left:180px;
  top:662px;
  width:20px;
  height:20px;
}
#u3445.a {
}
#u3444_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3447.a {
  position:absolute;
  left:139px;
  top:578px;
  width:20px;
  height:20px;
}
#u3448.a {
}
#u3447_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3450.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u3451.a {
}
#u3450_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3453.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u3454.a {
}
#u3453_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3456.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u3457.a {
}
#u3456_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3459.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u3460.a {
}
#u3459_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3462.a {
  position:absolute;
  left:737px;
  top:181px;
}
#u3463.a {
}
#u3465.a {
}
#u3467.a {
}
#u3469.a {
}
#u3471.a {
  position:absolute;
  left:1069px;
  top:473px;
}
#u3472.a {
}
#u3474.a {
}
#u3476.a {
}
#u3478.a {
}
#u3480.a {
  position:absolute;
  left:255px;
  top:302px;
}
#u3481.a {
}
#u3483.a {
}
#u3485.a {
}
#u3487.a {
}
#u3489.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u3490.a {
}
#u3492.a {
}
#u3494.a {
}
#u3496.a {
}
#u3498.a {
}
#u3500.a {
}
#u3502.a {
}
#u3504.a {
}
#u3506.a {
}
#u3508.a {
}
#u3510.a {
  position:absolute;
  left:880px;
  top:700px;
  width:70px;
  height:70px;
}
#u3511.a {
}
#u3510_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3513.a {
  position:absolute;
  left:315px;
  top:680px;
  width:70px;
  height:70px;
}
#u3514.a {
}
#u3513_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3516.a {
  position:absolute;
  left:560px;
  top:670px;
  width:110px;
  height:110px;
}
#u3517.a {
}
#u3516_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3519.a {
  position:absolute;
  left:0px;
  top:287px;
  width:1280px;
  height:513px;
}
#u3520.a {
}
#u3522.a {
}
#u3524.a {
}
#u3526.a {
}
#u3528.a {
}
#u3530.a {
}
#u3532.a {
}
#u3534.a {
}
#u3519_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3519_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3536.a {
  position:absolute;
  left:845px;
  top:165px;
  width:110px;
  height:110px;
}
#u3537.a {
}
#u3536_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3539.a {
  position:absolute;
  left:1014px;
  top:478px;
  width:70px;
  height:70px;
}
#u3540.a {
}
#u3539_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3542.a {
  position:absolute;
  left:990px;
  top:55px;
  width:40px;
  height:40px;
}
#u3543.a {
}
#u3542_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3545.a {
  position:absolute;
  left:1179px;
  top:422px;
  width:10px;
  height:10px;
}
#u3546.a {
}
#u3545_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3548.a {
  position:absolute;
  left:385px;
  top:322px;
}
#u3549.a {
}
#u3551.a {
  position:absolute;
  left:900px;
  top:367px;
  width:110px;
  height:110px;
}
#u3552.a {
}
#u3551_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3554.a {
  position:absolute;
  left:1029px;
  top:342px;
  width:70px;
  height:70px;
}
#u3555.a {
}
#u3554_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3557.a {
  position:absolute;
  left:1006px;
  top:214px;
  width:70px;
  height:70px;
}
#u3558.a {
}
#u3557_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3560.a {
  position:absolute;
  left:940px;
  top:95px;
  width:70px;
  height:70px;
}
#u3561.a {
}
#u3560_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3563.a {
  position:absolute;
  left:870px;
  top:25px;
  width:70px;
  height:70px;
}
#u3564.a {
}
#u3563_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3566.a {
  position:absolute;
  left:1086px;
  top:229px;
  width:40px;
  height:40px;
}
#u3567.a {
}
#u3566_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3569.a {
  position:absolute;
  left:1100px;
  top:490px;
  width:40px;
  height:40px;
}
#u3570.a {
}
#u3569_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3572.a {
  position:absolute;
  left:1108px;
  top:163px;
  width:20px;
  height:20px;
}
#u3573.a {
}
#u3572_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3575.a {
  position:absolute;
  left:1120px;
  top:199px;
  width:20px;
  height:20px;
}
#u3576.a {
}
#u3575_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3578.a {
  position:absolute;
  left:1159px;
  top:240px;
  width:10px;
  height:10px;
}
#u3579.a {
}
#u3578_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3581.a {
  position:absolute;
  left:1166px;
  top:270px;
  width:10px;
  height:10px;
}
#u3582.a {
}
#u3581_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3584.a {
  position:absolute;
  left:1176px;
  top:330px;
  width:10px;
  height:10px;
}
#u3585.a {
}
#u3584_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3587.a {
  position:absolute;
  left:1080px;
  top:72px;
  width:10px;
  height:10px;
}
#u3588.a {
}
#u3587_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3590.a {
  position:absolute;
  left:1113px;
  top:128px;
  width:10px;
  height:10px;
}
#u3591.a {
}
#u3590_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3593.a {
  position:absolute;
  left:1107px;
  top:384px;
  width:40px;
  height:40px;
}
#u3594.a {
}
#u3593_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3596.a {
  position:absolute;
  left:1146px;
  top:304px;
  width:20px;
  height:20px;
}
#u3597.a {
}
#u3596_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3599.a {
  position:absolute;
  left:741px;
  top:417px;
}
#u3600.a {
}
#u3602.a {
  position:absolute;
  left:1157px;
  top:367px;
  width:20px;
  height:20px;
}
#u3603.a {
}
#u3602_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3605.a {
  position:absolute;
  left:620px;
  top:152px;
}
#u3606.a {
}
#u3608.a {
  position:absolute;
  left:462px;
  top:175px;
}
#u3609.a {
}
#u3611.a {
  position:absolute;
  left:815px;
  top:567px;
  width:110px;
  height:110px;
}
#u3612.a {
}
#u3611_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3614.a {
  position:absolute;
  left:650px;
  top:25px;
  width:110px;
  height:110px;
}
#u3615.a {
}
#u3614_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3617.a {
  position:absolute;
  left:415px;
  top:60px;
  width:110px;
  height:110px;
}
#u3618.a {
}
#u3617_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3620.a {
  position:absolute;
  left:280px;
  top:240px;
  width:110px;
  height:110px;
}
#u3621.a {
}
#u3620_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3623.a {
  position:absolute;
  left:265px;
  top:437px;
  width:110px;
  height:110px;
}
#u3624.a {
}
#u3623_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3626.a {
  position:absolute;
  left:400px;
  top:614px;
  width:110px;
  height:110px;
}
#u3627.a {
}
#u3626_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3629.a {
  position:absolute;
  left:303px;
  top:70px;
  width:70px;
  height:70px;
}
#u3630.a {
}
#u3629_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3632.a {
  position:absolute;
  left:212px;
  top:196px;
  width:70px;
  height:70px;
}
#u3633.a {
}
#u3632_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3635.a {
  position:absolute;
  left:185px;
  top:282px;
  width:70px;
  height:70px;
}
#u3636.a {
}
#u3635_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3638.a {
  position:absolute;
  left:180px;
  top:430px;
  width:70px;
  height:70px;
}
#u3639.a {
}
#u3638_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3641.a {
  position:absolute;
  left:948px;
  top:612px;
  width:70px;
  height:70px;
}
#u3642.a {
}
#u3641_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3644.a {
  position:absolute;
  left:226px;
  top:557px;
  width:70px;
  height:70px;
}
#u3645.a {
}
#u3644_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3647.a {
  position:absolute;
  left:1077px;
  top:548px;
  width:40px;
  height:40px;
}
#u3648.a {
}
#u3647_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3650.a {
  position:absolute;
  left:215px;
  top:110px;
  width:40px;
  height:40px;
}
#u3651.a {
}
#u3650_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3653.a {
  position:absolute;
  left:135px;
  top:322px;
  width:40px;
  height:40px;
}
#u3654.a {
}
#u3653_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3656.a {
  position:absolute;
  left:162px;
  top:210px;
  width:40px;
  height:40px;
}
#u3657.a {
}
#u3656_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3659.a {
  position:absolute;
  left:185px;
  top:600px;
  width:40px;
  height:40px;
}
#u3660.a {
}
#u3659_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3662.a {
  position:absolute;
  left:226px;
  top:670px;
  width:40px;
  height:40px;
}
#u3663.a {
}
#u3662_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3665.a {
  position:absolute;
  left:133px;
  top:450px;
  width:40px;
  height:40px;
}
#u3666.a {
}
#u3665_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3668.a {
  position:absolute;
  left:152px;
  top:533px;
  width:40px;
  height:40px;
}
#u3669.a {
}
#u3668_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3671.a {
  position:absolute;
  left:1018px;
  top:661px;
  width:40px;
  height:40px;
}
#u3672.a {
}
#u3671_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3674.a {
  position:absolute;
  left:1144px;
  top:500px;
  width:20px;
  height:20px;
}
#u3675.a {
}
#u3674_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3677.a {
  position:absolute;
  left:1095px;
  top:637px;
  width:20px;
  height:20px;
}
#u3678.a {
}
#u3677_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3680.a {
  position:absolute;
  left:1117px;
  top:588px;
  width:20px;
  height:20px;
}
#u3681.a {
}
#u3680_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3683.a {
  position:absolute;
  left:107px;
  top:404px;
  width:20px;
  height:20px;
}
#u3684.a {
}
#u3683_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3686.a {
  position:absolute;
  left:130px;
  top:230px;
  width:20px;
  height:20px;
}
#u3687.a {
}
#u3686_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3689.a {
  position:absolute;
  left:237px;
  top:40px;
  width:20px;
  height:20px;
}
#u3690.a {
}
#u3689_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3692.a {
  position:absolute;
  left:180px;
  top:662px;
  width:20px;
  height:20px;
}
#u3693.a {
}
#u3692_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3695.a {
  position:absolute;
  left:139px;
  top:578px;
  width:20px;
  height:20px;
}
#u3696.a {
}
#u3695_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3698.a {
  position:absolute;
  left:185px;
  top:83px;
  width:10px;
  height:10px;
}
#u3699.a {
}
#u3698_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3701.a {
  position:absolute;
  left:141px;
  top:160px;
  width:10px;
  height:10px;
}
#u3702.a {
}
#u3701_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3704.a {
  position:absolute;
  left:102px;
  top:280px;
  width:10px;
  height:10px;
}
#u3705.a {
}
#u3704_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3707.a {
  position:absolute;
  left:144px;
  top:638px;
  width:10px;
  height:10px;
}
#u3708.a {
}
#u3707_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3710.a {
  position:absolute;
  left:444px;
  top:478px;
}
#u3711.a {
}
#u3713.a {
  position:absolute;
  left:605px;
  top:516px;
}
#u3714.a {
}
#u3716.a {
  position:absolute;
  left:744px;
  top:257px;
}
#u3717.a {
}
#u3719.a {
  position:absolute;
  left:1069px;
  top:473px;
}
#u3720.a {
}
#u3722.a {
}
#u3724.a {
}
#u3726.a {
}
#u3728.a {
  position:absolute;
  left:249px;
  top:302px;
}
#u3729.a {
}
#u3731.a {
}
#u3733.a {
}
#u3735.a {
}
#u3737.a {
  position:absolute;
  left:1024px;
  top:246px;
}
#u3738.a {
}
#u3740.a {
}
#u3742.a {
}
#u3744.a {
}
#u3746.a {
  position:absolute;
  left:737px;
  top:181px;
}
#u3747.a {
}
#u3749.a {
}
#u3751.a {
}
#u3753.a {
}
#u1728_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state3.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state4.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state5.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state6.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1728_state7.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3755.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u3756.a {
}
#u3758.a {
}
#u3760.a {
}
#u3762.a {
}
#u3764.a {
}
#u3766.a {
}
#u3768.a {
}
#u3770.a {
}
#u3772.a {
}
#u3774.a {
}
#u3776.a {
}
#u3778.a {
}
#u3780.a {
}
#u3782.a {
}
#u3784.a {
}
#u3786.a {
}
#u3788.a {
}
#u3790.a {
}
#u3792.a {
}
#u3794.a {
}
#u3796.a {
}
#u3798.a {
}
#u3800.a {
}
#u3802.a {
}
#u3804.a {
}
#u3806.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u3807.a {
}
#u3809.a {
}
#u3811.a {
}
#u3813.a {
  position:absolute;
  left:0px;
  top:90px;
}
#u3814.a {
}
#u3814_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:700px;
}
#u3815.a {
}
#u3817.a {
}
#u3819.a {
}
.u3820.a {
}
.u3822.a {
}
.u3824.a {
}
#u3826.a {
}
.u3827.a {
}
.u3829.a {
}
.u3831.a {
}
#u3833.a {
}
#u3835.a {
}
#u3837.a {
  position:absolute;
  left:0px;
  top:40px;
}
#u3838.a {
}
#u3840.a {
}
#u3842.a {
}
#u3844.a {
}
#u3846.a {
}
#u3848.a {
}
#u3850.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:40px;
}
#u3851.a {
}
#u3853.a {
}
#u3855.a {
}
#u3857.a {
}
#u3857_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3857_end.a {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u3857_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u3858.a {
  position:absolute;
  left:581px;
  top:6px;
}
#u3859.a {
}
#u3861.a {
}
#u3863.a {
}
#u3865.a {
}
#u3867.a {
}
#u3869.a {
}
#u3871.a {
}
#u3873.a {
}
#u3875.a {
}
#u3877.a {
}
#u3879.a {
}
#u3881.a {
}
#u3883.a {
}
#u3850_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3885.a {
  position:absolute;
  left:1061px;
  top:0px;
}
#u3886.a {
}
#u3888.a {
}
#u3890.a {
}
#u3892.a {
}
#u3894.a {
}
#u3896.a {
}
#u3898.a {
}
#u3898_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3898_end.a {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3898_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u3899.a {
}
#u3901.a {
}
#u3903.a {
}
#u3905.a {
}
#u3907.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u3908.a {
}
#u3910.a {
}
#u3912.a {
}
#u3914.a {
}
#u3916.a {
}
#u3918.a {
}
#u3920.a {
}
#u3922.a {
}
#u3924.a {
}
#u3926.a {
}
#u3928.a {
}
#u3930.a {
}
#u3932.a {
}
#u3934.a {
}
#u3936.a {
}
#u3938.a {
}
#u3940.a {
}
#u3942.a {
}
#u3944.a {
}
#u3946.a {
}
#u3948.a {
}
#u3950.a {
}
#u3952.a {
}
#u3954.a {
}
#u3956.a {
}
#u3958.a {
}
#u3907_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
